Camera/Data
IMU/Data
IMU/sensor-fusion-tracking/Data
.venv
Camera/results
Camera/results_batch
Camera/results_DISK_batch
Camera/results_hybrid
Camera/results_hybrid_DISK_batch
Camera/results_hybrid_SIFT_batch
Camera/calibrations/**.webm
Camera/surface_models
Camera/3D/__pycache__
Camera/3D/results
Camera/3D/results_DISK_batch
Data
Camera/DataOld
Camera/__pycache__
IMU/__pycache__
IMU/results